/* general */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lavender;
}

img{
  max-width: 100%;
}

/* header */
.logo{
  width: 300px;
  padding: 20px;
}

/* main */
.my-bg-lavander{
  background-color:lavender;
}

.done{
  text-decoration: line-through;
}

.my-pointer{
  cursor: pointer;
}

.my-alert{
  font-weight: bolder;
  color: brown;
}